<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.editors">
      <editor name="EMF Henshin State Space"
              extensions="henshin_statespace"
              icon="icons/HenshinDiagramFile.gif"
              default="true"
              class="org.eclipse.emf.henshin.statespace.explorer.parts.StateSpaceExplorer"
              contributorClass="org.eclipse.emf.henshin.statespace.explorer.parts.StateSpaceActionBarContributor"
              id="EMF Henshin State Space Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard name="State Space"
              icon="icons/HenshinDiagramFile.gif"
              category="org.eclipse.emf.henshin.wizards"
              class="org.eclipse.emf.henshin.statespace.explorer.actions.StateSpaceCreationWizard"
              id="org.eclipse.emf.henshin.ltl.diagram.LTLCreationWizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.statespace.explorer.contributions.StateSpace"
            objectClass="org.eclipse.emf.henshin.statespace.explorer.edit.StateSpaceEditPart">
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.CreateInitialStateAction"
               enablesFor="1"
               icon="icons/initialState.gif"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.NewInitialStateAction"
               label="Load Initial State..."
               menubarPath="additions"
               style="push"
               tooltip="Create a new initial state">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ImportRulesAction"
               enablesFor="1"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.ImportRulesAction"
               label="Import Rules..."
               menubarPath="additions"
               style="push"
               tooltip="Import rules into the state space">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.statespace.explorer.contributions.State"
            objectClass="org.eclipse.emf.henshin.statespace.explorer.edit.StateEditPart">
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.OpenStateModelAction"
               enablesFor="1"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.NewInitialStateAction"
               label="Open State Model"
               menubarPath="additions"
               style="push"
               tooltip="Open state model">
         </action>
      </objectContribution>
   </extension>
</plugin>
