<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2010 CWI Amsterdam, Technical University Berlin, 
    Philipps-University Marburg and others. All rights reserved. 
    This program and the accompanying materials are made 
    available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        CWI Amsterdam - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/2010/Henshin/StateSpace"
            class="org.eclipse.emf.henshin.statespace.impl.StateSpacePackageImpl"
            genModel="model/statespace.genmodel"/>
   </extension>
   <extension-point id="validators" name="State Space Validators" schema="schema/validators.exsd"/>
   <extension-point id="exporters" name="State Space Exporters" schema="schema/exporters.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.henshin.statespace.resource.StateSpaceResourceFactory"
            type="statespace">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.statespace.exporters">
      <exporter
            class="org.eclipse.emf.henshin.statespace.export.AUTStateSpaceExporter"
            id="org.eclipse.emf.henshin.statespace.export.aut">
      </exporter>
      <exporter
            class="org.eclipse.emf.henshin.statespace.export.TikZStateSpaceExporter"
            id="org.eclipse.emf.henshin.statespace.export.tikz">
      </exporter>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.statespace.validators">
      <validator
            class="org.eclipse.emf.henshin.statespace.validation.SingleRootStateValidator"
            id="org.eclipse.emf.henshin.statespace.validators.singleRoot">
      </validator>
   </extension>

</plugin>
