<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="filter"
         point="org.eclipse.emf.henshin.sam.paf.Filter">
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GenerateMatchSubgraphFilter"
            name="GenerateMatchSubgraphFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GenerateSubgraphFilter"
            name="GenerateSubgraphFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GraphMergeFilter"
            name="GraphMergeFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.MatchSubgraphFilter"
            name="MatchSubgraphFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.NacTranslationFilter"
            name="NacTranslationFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.RuleApplicationFilter"
            name="RuleApplicationFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.StructuralPropertyFilter"
            name="StructuralPropertyFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.StructuralGraphRuleFilter"
            name="StructuralGraphRuleFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.StructuralPropertyTargetPatternFilter"
            name="StructuralPropertyTargetPatternFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.StructuralGuaranteedPropertyTargetPatternFilter"
            name="StructuralGuaranteedPropertyTargetPatternFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GeneralContextFilter"
            name="GeneralContextFilter">
         <configurationField
               defaultValue="true"
               name="printDebug">
         </configurationField>
      </filter>
      <filterChain
            name="StructuralInvariantCheckingChain">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filterChain
            name="StructuralInvariantCheckingChainWithTC">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGuaranteedPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filterChain
            name="TargetPatternCheckImplicationProofCheck">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGuaranteedPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GeneralContextFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filterChain
            name="StructuralInvariantCheckingChainWithTCAndImprovedSGGen">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateMatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGuaranteedPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GeneralContextFilterTGP"
            name="GeneralContextFilterTGP">
      </filter>
      <filterChain
            name="TargetPatternCheckImplicationProofCheckWOTP">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GeneralContextFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filterChain
            name="TargetPatternContextCheck">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GeneralContextCheckFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filterChain
            name="StructuralInvariantCheckingChainCGProver">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="ImplicationProofFilter">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.GeneralContextCheckFilter"
            name="GeneralContextCheckFilter">
      </filter>
      <filterChain
            name="DualImplication">
         <producerFilterChainEntry
               referencedProducer="CombinationProducer">
         </producerFilterChainEntry>
         <filterChainEntry
               referencedFilter="GenerateSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="MatchSubgraphFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GraphMergeFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGuaranteedPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyTargetPatternFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="NacTranslationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="RuleApplicationFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralPropertyFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="StructuralGraphRuleFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GeneralContextFilter">
         </filterChainEntry>
         <filterChainEntry
               referencedFilter="GeneralContextFilterTGP">
         </filterChainEntry>
         <consumerFilterChainEntry
               referencedConsumer="VerificationResultConsumer">
         </consumerFilterChainEntry>
      </filterChain>
      <filter
            filter_class="org.eclipse.emf.henshin.sam.invcheck.filter.NotMatchableSubgraphFilter"
            name="NotMatchableSubgraphFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.sam.paf.Producer">
      <producer
            name="CombinationProducer"
            producer_class="org.eclipse.emf.henshin.sam.invcheck.filter.CombinationProducer">
         <configurationField
               defaultValue="false"
               name="printDebug">
         </configurationField>
      </producer>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.sam.paf.Consumer">
      <consumer
            consumer_class="org.eclipse.emf.henshin.sam.invcheck.filter.VerificationResultConsumer"
            name="VerificationResultConsumer">
         <configurationField
               defaultValue="false"
               name="stopOnWitness">
         </configurationField>
         <configurationField
               defaultValue="false"
               name="printDebug">
         </configurationField>
      </consumer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="samgraphuniverse.samgraphcondition.GraphCondition"
            class="de.uni_paderborn.invariantchecking.adapter.GraphConditionNACAdapterFactory">
         <adapter
               type="org.eclipse.emf.henshin.sam.invcheck.nac.NegativeApplicationCondition">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="samgraphuniverse.samgraph.Graph"
            class="de.uni_paderborn.invariantchecking.adapter.SamGraphInvCheckGraphAdapterFactory">
         <adapter
               type="org.eclipse.emf.henshin.sam.invcheck.nac.GraphWithNacs">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.sam.invcheck.implications.implicationExecution"
            nameFilter="*.samrules"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.uni_paderborn.invariantchecking.ProverDelegate"
               id="org.eclipse.emf.henshin.sam.invcheck.implications.implication"
               label="Implication"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
