<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010 CWI Amsterdam, Technical University Berlin, 
    Philipps-University Marburg and others. All rights reserved.
    This program and the accompanying materials are made 
    available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        CWI Amsterdam - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.emf.henshin.statespace.validators">
      <validator
            class="org.eclipse.emf.henshin.statespace.external.cadp.CADPStateSpaceValidator"
            id="org.eclipse.emf.henshin.statespace.validator.cadp">
      </validator>
      <validator
            class="org.eclipse.emf.henshin.statespace.external.mcrl2.MCRL2StateSpaceValidator"
            id="org.eclipse.emf.henshin.statespace.validator.mcrl2">
      </validator>
      <validator
            class="org.eclipse.emf.henshin.statespace.external.prism.CTMCStateSpaceValidator"
            id="org.eclipse.emf.henshin.statespace.validator.prism">
      </validator>
      <validator
            class="org.eclipse.emf.henshin.statespace.external.prism.CTMCSteadyStateTool"
            id="org.eclipse.emf.henshin.statespace.validator.prism.steadystate">
      </validator>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.statespace.exporters">
      <exporter
            class="org.eclipse.emf.henshin.statespace.external.cadp.AUTStateSpaceExporter"
            id="org.eclipse.emf.henshin.statespace.external.aut">
      </exporter>
      <exporter
            class="org.eclipse.emf.henshin.statespace.external.tikz.TikZStateSpaceExporter"
            id="org.eclipse.emf.henshin.statespace.external.tikz">
      </exporter>
      <exporter
            class="org.eclipse.emf.henshin.statespace.external.prism.CTMCStateSpaceExporter"
            id="org.eclipse.emf.henshin.statespace.external.export.prism">
      </exporter>
   </extension>
   <extension
         point="org.eclipse.emf.henshin.statespace.properties">
      <manager
            class="org.eclipse.emf.henshin.statespace.external.prism.RatesPropertiesManager"
            id="org.eclipse.emf.henshin.statespace.external.properties.rates">
      </manager>
   </extension>

</plugin>
