<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://Sierpinski"
            class="sierpinski.model.Sierpinski.SierpinskiPackage"
            genModel="src/sierpinski/model/sierpinski.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.emf.henshin.examples.philosophers.PhilosophersPackage"
            genModel="src/org/eclipse/emf/henshin/examples/philosophers/model/philosophers.genmodel"
            uri="http://www.eclipse.org/emf/2010/Henshin/Examples/Philosophers">
      </package>
   </extension>

</plugin>
