<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Henshin Target-Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="de.tuberlin.eecs.agg"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.sdk.feature.group"/>
			<unit id="org.eclipse.papyrus.infra.gmfdiag.tooling.runtime"/>
			<unit id="org.eclipse.m2e.feature.feature.group"/>
			<unit id="org.eclipse.emf.compare.feature.group"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group"/>
			<unit id="org.eclipse.papyrus.sdk.feature.feature.group"/>
			<unit id="org.eclipse.emf.sdk.feature.group"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group"/>
			<unit id="org.eclipse.emf.query.sdk.feature.group"/>
			<unit id="org.eclipse.xtext.sdk.feature.group"/>
			<unit id="org.apache.commons.io"/>
			<repository location="http://download.eclipse.org/releases/oxygen"/>
		</location>
	</locations>
</target>