/.Henshin_textBoolType.java._trace
/.Henshin_textBoolType.xtendbin
/.Henshin_textComplexType.java._trace
/.Henshin_textComplexType.xtendbin
/.Henshin_textNumberType.java._trace
/.Henshin_textNumberType.xtendbin
/.Henshin_textStringType.java._trace
/.Henshin_textStringType.xtendbin
/.Henshin_textType.java._trace
/.Henshin_textType.xtendbin
/.Henshin_textTypeProvider.java._trace
/.Henshin_textTypeProvider.xtendbin
/.Henshin_textNullType.java._trace
