<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
  Copyright (c) 2010-2012 Henshin developers. All rights reserved. 
  This program and the accompanying materials are made available 
  under the terms of the Eclipse Public License v1.0 which 
  accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         id="org.eclipse.emf.henshin.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="org.eclipse.emf.henshin.menu"
               label="Henshin">
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.emf.henshin.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="org.eclipse.emf.henshin.menu"
               label="Henshin">
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.emf.henshin.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu">
         <menu
               id="org.eclipse.emf.henshin.menu"
               label="Henshin">
         </menu>
      </menuContribution>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.henshin.menu">
         <command
               commandId="org.eclipse.emf.henshin.contextmenu.menu.RegisterTrafoSystem"
               label="Register model"
               style="push">
         </command>
         <menu
               id="org.eclipse.emf.henshin.menu.apply"
               label="Apply">
         </menu>
      </menuContribution>
   </extension>
   -->
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateHenshinFileHandler"
            id="org.eclipse.emf.henshin.interpreter.ui.wizard.HenshinateHenshinFileActionDelegate"
            name="%_UI_Command_ApplyWithHenshin">
      </command>
      <command
            id="org.eclipse.emf.henshin.interpreter.ui.wizard.add.ValueBreakpoint"
            name="Add Value Breakpoint">
         <defaultHandler
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddValueBreakpoint">
            <parameter
                  name="org.eclipse.emf.henshin.interpreter.ui.parameter2"
                  value="org.eclipse.emf.henshin.interpreter.ui.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.eclipse.emf.henshin.interpreter.ui.wizard.add.VariableBreakpoint"
            name="Add Variable Breakpoint">
         <defaultHandler
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddVariableBreakpoint">
            <parameter
                  name="org.eclipse.emf.henshin.interpreter.ui.parameter3"
                  value="org.eclipse.emf.henshin.interpreter.ui.parameter3">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.eclipse.emf.henshin.interpreter.ui.wizard.add.ConstraintTypeBreakpoint"
            name="Add Constraint Type Breakpoint">
         <defaultHandler
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddConstraintTypeBreakpoint">
            <parameter
                  name="org.eclipse.emf.henshin.interpreter.ui.parameter1"
                  value="org.eclipse.emf.henshin.interpreter.ui.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.eclipse.emf.henshin.interpreter.ui.wizard.add.ConstraintInstanceBreakpoint"
            name="Add Constraint Instance Breakpoint">
         <defaultHandler
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddConstraintInstanceBreakpoint">
            <parameter
                  name="org.eclipse.emf.henshin.interpreter.ui.parameter2"
                  value="org.eclipse.emf.henshin.interpreter.ui.parameter2">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <!--
   <extension
         id="org.eclipse.emf.henshin.trafoSystems"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.henshin.menu.apply">
         <dynamic
               class="org.eclipse.emf.henshin.interpreter.ui.HenshinMenu"
               id="org.eclipse.emf.henshin.contextmenu.trafoUnits">
         </dynamic>
      </menuContribution>
   </extension>
   -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution1"
            objectClass="org.eclipse.emf.henshin.model.Unit">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateUnitActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution2"
            objectClass="org.eclipse.emf.henshin.model.Module">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateModuleActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action2"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
          </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution3"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.CreateDynamicInstanceAction"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.emf.ecore.editor/icons/full/obj16/EcoreModelFile.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.createDynamicInstance"
               label="%_UI_Create_Dynamic_Instance"
               menubarPath="org.eclipse.emf.henshin.menu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution4"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.RuleEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.giraph.GenerateGiraphCodeAction"
               icon="icons/giraph.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_GenerateGiraphCode"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution5"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.RuleCompartmentEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.giraph.GenerateGiraphCodeAction"
               icon="icons/giraph.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_GenerateGiraphCode"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution6"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.UnitEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.giraph.GenerateGiraphCodeAction"
               icon="icons/giraph.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_GenerateGiraphCode"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution7"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.UnitCompartmentEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.giraph.GenerateGiraphCodeAction"
               icon="icons/giraph.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_GenerateGiraphCode"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution8"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.RuleEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateUnitActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution9"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.RuleCompartmentEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateUnitActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution10"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.UnitEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateUnitActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.interpreter.ui.henshincontribution11"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.UnitCompartmentEditPart">
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.actions.HenshinateUnitActionDelegate"
               icon="icons/henshin-apply.gif"
               id="org.eclipse.emf.henshin.interpreter.ui.action1"
               label="%_UI_Command_ApplyWithHenshin"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.henshin.interpreter.ui.henshinContribution12"
            objectClass="org.eclipse.emf.henshin.interpreter.debug.HenshinDebugVariable">
         <menu
               id="org.eclipse.emf.henshin.interpreter.ui.menu1"
               label="Henshin Breakpoints"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddValueBreakpoint"
               enablesFor="1"
               id="org.eclipse.emf.henshin.interpreter.ui.addValueBreakpoint"
               label="Add Value Breakpoint"
               menubarPath="org.eclipse.emf.henshin.interpreter.ui.menu1/group1">
         </action>
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddVariableBreakpoint"
               id="org.eclipse.emf.henshin.interpreter.ui.addVariableBreakpoint"
               label="Add Variable Breakpoint"
               menubarPath="org.eclipse.emf.henshin.interpreter.ui.menu1/group1">
         </action>
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddConstraintTypeBreakpoint"
               id="org.eclipse.emf.henshin.interpreter.ui.addConstraintTypeBreakpoint"
               label="Add Constraint Type Breakpoint"
               menubarPath="org.eclipse.emf.henshin.interpreter.ui.menu1/group1">
         </action>
         <action
               class="org.eclipse.emf.henshin.interpreter.ui.handlers.AddConstraintInstanceBreakpoint"
               id="org.eclipse.emf.henshin.interpreter.ui.addConstraintInstanceBreakpoint"
               label="Add Constraint Instance Breakpoint"
               menubarPath="org.eclipse.emf.henshin.interpreter.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.henshin.menu">
         <command
               commandId="org.eclipse.emf.henshin.interpreter.ui.wizard.HenshinateHenshinFileActionDelegate"
               icon="icons/henshin-apply.gif"
               label="%_UI_Command_ApplyWithHenshin"
               style="push">
               <visibleWhen>
               <with variable="selection">
 			       <iterate ifEmpty="false">
			            <instanceof value="org.eclipse.core.resources.IResource"/>
			            	<test property="org.eclipse.core.resources.name" value="*.henshin"/>
        			</iterate>
				</with>
               </visibleWhen>
         </command>
      </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <category
           id="org.eclipse.emf.henshin"
           name="Henshin">
     </category>
     <wizard
           category="org.eclipse.emf.henshin"
           class="org.eclipse.emf.henshin.interpreter.ui.wizard.HenshinModelExportWizard"
           icon="icons/HenshinModelFile.gif"
           id="org.eclipse.emf.henshin.exportTransformationModel"
           name="Henshin Model">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.eclipse.emf.henshin.interpreter.ui.debug.LaunchRuleDelegate"
           id="org.eclipse.emf.henshin.interpreter.ui.ruleLaunchConfigurationType"
           modes="run, debug"
           name="Henshin Rule Application">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.eclipse.emf.henshin.interpreter.ui.debug.LaunchRuleConfigurationTabGroup"
           id="org.eclipse.emf.henshin.interpreter.ui.ruleLaunchConfigurationTabGroup"
           type="org.eclipse.emf.henshin.interpreter.ui.ruleLaunchConfigurationType">
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.core.breakpoints">
     <breakpoint
           class="org.eclipse.emf.henshin.interpreter.matching.conditions.ValueBreakpoint"
           id="org.eclipse.emf.henshin.model"
           markerType="org.eclipse.emf.henshin.interpreter.matching.conditions.ValueBreakpoint">
     </breakpoint>
     <breakpoint
           class="org.eclipse.emf.henshin.interpreter.matching.conditions.VariableBreakpoint"
           id="org.eclipse.emf.henshin.model"
           markerType="org.eclipse.emf.henshin.interpreter.matching.conditions.VariableBreakpoint">
     </breakpoint>
     <breakpoint
           class="org.eclipse.emf.henshin.interpreter.matching.conditions.ConstraintTypeBreakpoint"
           id="org.eclipse.emf.henshin.model"
           markerType="org.eclipse.emf.henshin.interpreter.matching.conditions.ConstraintTypeBreakpoint">
     </breakpoint>
     <breakpoint
           class="org.eclipse.emf.henshin.interpreter.matching.conditions.ConstraintInstanceBreakpoint"
           id="org.eclipse.emf.henshin.model"
           markerType="org.eclipse.emf.henshin.interpreter.matching.conditions.ConstraintInstanceBreakpoint">
     </breakpoint>
  </extension>
  <extension
        point="org.eclipse.debug.ui.debugModelPresentations">
     <debugModelPresentation
           class="org.eclipse.emf.henshin.interpreter.ui.debug.DebugModelPresentation"
           id="org.eclipse.emf.henshin.model">
     </debugModelPresentation>
  </extension>
  <extension
        id="org.eclipse.emf.henshin.model"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
  </extension>
  
  <!-- Menu for setting breakpoint with right click -->

<!-- Custom Breakpoint / HenshinBreakpoint -->	  

</plugin>
