<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="modelCheckers" name="Model Checkers" schema="schema/modelCheckers.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/2010/Henshin/StateSpace"
            class="org.eclipse.emf.henshin.statespace.impl.StateSpacePackageImpl"
            genModel="model/statespace.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.henshin.statespace.resource.StateSpaceResourceFactory"
            type="statespace">
      </parser>
   </extension>

</plugin>
