<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2010 CWI Amsterdam, Technical University of Berlin, 
    University of Marburg and others. All rights reserved. 
    This program and the accompanying materials are made 
    available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        CWI Amsterdam - initial API and implementation
 -->

<plugin>

     <extension point="org.eclipse.ui.editors">
      <editor name="State Space Explorer"
              extensions="statespace"
              icon="icons/HenshinDiagramFile.gif"
              default="true"
              class="org.eclipse.emf.henshin.statespace.explorer.parts.StateSpaceExplorer"
              contributorClass="org.eclipse.emf.henshin.statespace.explorer.parts.StateSpaceActionBarContributor"
              id="org.eclipse.emf.henshin.statespace.explorer">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard name="State Space"
              icon="icons/HenshinDiagramFile.gif"
              category="org.eclipse.emf.henshin.wizards"
              class="org.eclipse.emf.henshin.statespace.explorer.actions.CreateStateSpaceWizard"
              id="org.eclipse.emf.henshin.ltl.diagram.LTLCreationWizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.emf.henshin.statespace.explorer.contributions.viewer"
            targetID="org.eclipse.emf.henshin.statespace.explorer">
         <menu
               id="statespace"
               label="State Space"
               path="additions">
            <separator
                  name="main">
            </separator>
         </menu>
         <menu
               id="export"
               label="Export As..."
               path="statespace/main">
            <separator
                  name="main">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.CreateInitialStateAction"
               enablesFor="*"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.initial"
               label="New Initial State"
               menubarPath="statespace/main"
               style="push"
               tooltip="Create a new initial state">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ImportRulesAction"
               enablesFor="*"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.rules"
               label="Import Rules"
               menubarPath="statespace/main"
               style="push"
               tooltip="Import rules into the state space">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.OpenStateModelAction"
               enablesFor="1+"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.open"
               label="Open State Model"
               menubarPath="statespace/main"
               style="push"
               tooltip="Open state model">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ResetStateSpaceAction"
               enablesFor="*"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.reset"
               label="Reset State Space"
               menubarPath="statespace/main"
               style="push"
               tooltip="Reset the state space">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ExportStateSpaceAction"
               enablesFor="*"
               id="statespace.export.tikz"
               label="TikZ (LaTeX)"
               menubarPath="statespace/export/main"
               style="push"
               tooltip="Export the state space as TikZ diagram">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ExportStateSpaceAction"
               enablesFor="*"
               id="statespace.export.cadp"
               label="AUT (CADP)"
               menubarPath="statespace/export/main"
               style="push"
               tooltip="Export the state space as TikZ diagram">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.statespace.explorer.contributions.file"
            nameFilter="*.statespace"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="statespaceFile"
               label="State Space"
               path="additions">
            <separator
                  name="main">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ExploreStateSpaceFileAction"
               enablesFor="1"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.explore"
               label="Explore State Space"
               menubarPath="statespaceFile/main"
               tooltip="Explore open states">
         </action>
         <action
               class="org.eclipse.emf.henshin.statespace.explorer.actions.ResetStateSpaceFileAction"
               enablesFor="*"
               id="org.eclipse.emf.henshin.statespace.explorer.actions.reset.file"
               label="Reset State Space"
               menubarPath="statespaceFile/main"
               style="push"
               tooltip="Reset the state space">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.emf.henshin.statespace.explorer.parts.StateSpacePropertyPage"
            id="org.eclipse.emf.henshin.statespace.properties"
            name="State Space"
            nameFilter="*.statespace">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
