/.FileTests.java._trace
/.FileTests.xtendbin
/.FormulaTests.java._trace
/.FormulaTests.xtendbin
/.Henshin_textParsingTest.xtendbin
/.MultiRuleTests.java._trace
/.MultiRuleTests.xtendbin
/.RuleTests.java._trace
/.RuleTests.xtendbin
/.TransformationTests.java._trace
/.TransformationTests.xtendbin
/.UnitTests.java._trace
/.UnitTests.xtendbin
/FileTests.java
/FormulaTests.java
/MultiRuleTests.java
/RuleTests.java
/TransformationTests.java
/UnitTests.java
/.Henshin_textParsingTest.java._trace
